@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Press+Start+2P&display=swap');
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Bodoni Moda;
}

h1 {
    font-size: 2.5rem;
}